<footer class="footer wrapper">
  <div class="footer__inner clearfix">
    <ul class="footer__list list-unstyled zero-bottom">
      <li class="footer__item text-muted small">ToDú</li>
    </ul>
  </div>
</footer>