/* Custom variables

-------------------------------------------------------------- */
/* Variable imports
-------------------------------------------------------------- */
/* Custom colours
-------------------------------------------------------------- */
/* Generic grayscale
-------------------------------------------------------------- */
/* Image sizing
-------------------------------------------------------------- */
/* Z index values
-------------------------------------------------------------- */
/* Module spacing
-------------------------------------------------------------- */
/* Font stacks
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Development/Production environments
-------------------------------------------------------------- */
/* Mixins
-------------------------------------------------------------- */
/*

    A simpler media query mixin

    This mixin allows you to quickly create a media query in your project. With the ability to define the breakpoint in PX (which get's converted into EMs).
    There's also the ability to define min/max and width/height (with defaults to min-width).

    There's also an option to duplicate the content into a OldIE conditionally classed bit of CSS.

    You would use it like this

        body {
            @include (280) {
                background-color: blue;
            }
            @include mq(600, false) {
                background-color: red;
            }
            @include mq(1200, true, max) {
                font-size: 110%;
            }
        }

    Which would give you this compiled CSS

        @media (min-width: 17.5em) {
            body {
                background-color: blue;
            }
        }
        @media (min-width: 37.5em) {
            body {
            background-color: red;
            }
        }
        .lt-ie9 body {
            font-size: 110%;
        }
        @media (max-width: 75em) {
            body {
                font-size: 110%;
            }
        }

*/
/* 
* Mixin name: Gradient
* Use: Shorthand gradient declarations with vendor prefixer/ie fallbacks
* Note: N/A
-------------------------------------------------------------- */
/*
    By default this mixin is to be used for creating .no-js .element fallbacks.

    For example:

      .selector {
        @include js {
          width: 303px;
        }
      }

    Which gives:

      .no-js .selector {
        width: 303px;
      }

*/
/*
    By default this mixin is to be used for creating html.no-CSS3Thing .element fallbacks.

    For example:

      .selector {
        @include modernizr(cssanimations) {
          left: 400px;
        }
      }

    Which gives:

      html.no-cssanimations .selector {
        left: 400px;
      }

*/
/* 
* Mixin name: List
* Use: 
* 		1. Remove bullets and indentation from a list
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
footer article.block ul.nobullet {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
  footer article.block ul.nobullet li {
    margin-left: 0;
    list-style-type: none; }
    footer article.block ul.nobullet li:before {
      background-color: transparent !important; }

/* 
* Mixin name: On interaction
* Use: Shorthand for most common interaction states
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Note: See http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/* 
* Name: SASS-IE
* Use: Media query handling outside of Gridset
* Notes: See http://jakearchibald.github.io/sass-ie/
-------------------------------------------------------------- */
/* 
* Mixin name: Alignment
* Use: Align content with horizontal padding
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Unit
* Use: 
* 		1. Set REM value with pixel value fallback
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
/* 
* Mixin name: Inline block
* Use: Bullet proof inline block browser support
* Note: N/A
-------------------------------------------------------------- */
/*
* Mixin name: Responsive utilities
* Use: Controlling visibility responsiely
* Notes: N/A
-------------------------------------------------------------- */
/* 
* Name: Text overflow
* Use: Append an ellipsis to the end of overflowing text
* Notes:  Requires inline-block or block for proper styling
-------------------------------------------------------------- */
/* Base
-------------------------------------------------------------- */
/* This effectively a colour palette for UG */
/* Custom variables
-------------------------------------------------------------- */
/* Variable imports
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Indigo colour palette
-------------------------------------------------------------- */
/* Generic grayscale
-------------------------------------------------------------- */
/* Tints
-----------------------------------------------------------------*/
/* Form colours
--------------------------------------------------------------*/
/* element specific
-------------------------------------------------------------- */
/* Project specific
-------------------------------------------------------------- */
/* image classes
--------------------------------------------------------------------*/
/* blurb caption overlay
--------------------------------------------------------------------*/
/*images
----------------------------------------*/
/*layout
----------------------------------------*/
/*video
----------------------------------------*/
/*search
------------------------------------------------*/
/*media
------------------------------------------------*/
/* Z-index
------------------------------------------------*/
/* Gridset Gutter values
    - there is no method to get these values 
      directly from Gridset
------------------------------------------------*/
/* Font stacks
-------------------------------------------------------------- */
/* Mixins
-------------------------------------------------------------- */
/*

    A simpler media query mixin

    This mixin allows you to quickly create a media query in your project. With the ability to define the breakpoint in PX (which get's converted into EMs).
    There's also the ability to define min/max and width/height (with defaults to min-width).

    There's also an option to duplicate the content into a OldIE conditionally classed bit of CSS.

    You would use it like this

        body {
            @include (280) {
                background-color: blue;
            }
            @include mq(600, false) {
                background-color: red;
            }
            @include mq(1200, true, max) {
                font-size: 110%;
            }
        }

    Which would give you this compiled CSS

        @media (min-width: 17.5em) {
            body {
                background-color: blue;
            }
        }
        @media (min-width: 37.5em) {
            body {
            background-color: red;
            }
        }
        .lt-ie9 body {
            font-size: 110%;
        }
        @media (max-width: 75em) {
            body {
                font-size: 110%;
            }
        }

*/
/* 
* Mixin name: Gradient
* Use: Shorthand gradient declarations with vendor prefixer/ie fallbacks
* Note: N/A
-------------------------------------------------------------- */
/*
    By default this mixin is to be used for creating .no-js .element fallbacks.

    For example:

      .selector {
        @include js {
          width: 303px;
        }
      }

    Which gives:

      .no-js .selector {
        width: 303px;
      }

*/
/*
    By default this mixin is to be used for creating html.no-CSS3Thing .element fallbacks.

    For example:

      .selector {
        @include modernizr(cssanimations) {
          left: 400px;
        }
      }

    Which gives:

      html.no-cssanimations .selector {
        left: 400px;
      }

*/
/* 
* Mixin name: List
* Use: 
* 		1. Remove bullets and indentation from a list
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
/* 
* Mixin name: On interaction
* Use: Shorthand for most common interaction states
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Note: See http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/* 
* Name: SASS-IE
* Use: Media query handling outside of Gridset
* Notes: See http://jakearchibald.github.io/sass-ie/
-------------------------------------------------------------- */
/* 
* Mixin name: Alignment
* Use: Align content with horizontal padding
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Unit
* Use: 
* 		1. Set REM value with pixel value fallback
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
/* 
* Mixin name: Inline block
* Use: Bullet proof inline block browser support
* Note: N/A
-------------------------------------------------------------- */
/* Custom patterns
* Patterns are not duplicates of pre-existing patterns in Indigo - only bespoke, skin-specific patterns should
* be within this directory.
-------------------------------------------------------------- */
.blurb--captioned-image.float-left, .blurb--captioned-image.float-right {
  margin: 0 1em 1em; }

.blurb--captioned-image.float-left {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.429292929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.03030303%; }

.blurb--captioned-image.float-right {
  display: block;
  float: left;
  margin-left: 51.459595959%;
  margin-right: -100%;
  width: 48.429292929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.03030303%; }

.blurb--captioned-image .blurb__img {
  margin-bottom: 0;
  vertical-align: top; }

.blurb--captioned-image .blurb__body {
  background-color: #f7f7f4;
  padding: 1em 0.5em 0.5em;
  vertical-align: top; }

.blurb--captioned-image .tag__heading--captioned-overlay {
  display: none; }

@media only screen and (min-width: 990px) {
  .blurb--captioned-image.blurb--captioned-image-overlayed .blurb__title {
    font-size: 18px;
    font-size: 1.8rem; }

  .blurb--captioned-image.blurb--captioned-image-overlayed .tag.tag--hidden {
    display: none; }

  .blurb--captioned-image.blurb--captioned-image-overlayed .tag__heading--captioned-overlay {
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    padding-bottom: 10px;
    padding-bottom: 1rem; }

  .blurb--captioned-image.blurb--captioned-image-overlayed .tag__heading--captioned-overlay-border {
    margin-bottom: 10px;
    margin-bottom: 1rem; }

  .blurb--captioned-image.blurb--captioned-image-overlayed .blurb__body {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    box-sizing: border-box;
    opacity: 0.9;
    max-height: 70%;
    overflow: auto; }

  .blurb--captioned-image.blurb--captioned-image-overlayed .blurb__body p {
    font-size: 14px;
    font-size: 1.4rem; } }
.middle-split {
  overflow: hidden; }

.middle-split li {
  width: 100%; }

.middle-split h1.heading {
  margin-left: 0; }

.middle-split h2.heading {
  margin-left: 0; }

.middle-split h3.heading {
  margin-left: 0; }

.middle-split h4.heading {
  margin-left: 0; }

.middle-split h5.heading {
  margin-left: 0; }

.middle-split h6.heading {
  margin-left: 0; }

@media only screen and (max-width: 989px) {
  .middle-split > section.middle-split__column1 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  .middle-split > section.middle-split__column2 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; } }
@media only screen and (min-width: 990px) {
  .middle-split > section.middle-split__column1 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.4831631107%; }

  .middle-split > section.middle-split__column2 {
    display: block;
    float: left;
    margin-left: 51.5168368893%;
    margin-right: -100%;
    width: 48.4831631107%; }

  .middle-split.middle-split--66-33 > section.middle-split__column1 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 63.9296187683%; }

  .middle-split.middle-split--66-33 > section.middle-split__column2 {
    display: block;
    float: left;
    margin-left: 66.963292547%;
    margin-right: -100%;
    width: 33.036707453%; }

  .middle-split.middle-split--33-66 > section.middle-split__column1 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 33.036707453%; }

  .middle-split.middle-split--33-66 > section.middle-split__column2 {
    display: block;
    float: left;
    margin-left: 36.0703812317%;
    margin-right: -100%;
    width: 63.9296187683%; } }
/*** NEWS INV ***/
.newsLarge article.blurb-wide--paired {
  width: 47%;
  float: left; }

.newsLarge article.blurb-wide--paired:nth-of-type(even) {
  margin-left: 4%; }

.newsLarge article.blurb-wide--paired:nth-of-type(odd) {
  margin-left: 0;
  clear: left; }

.newsLarge {
  margin: 2em 0;
  /*override for paired
	---------------------------------------------*/ }

.newsLarge span.thumb-image {
  width: 33%; }

@media only screen and (min-width: 768px) {
  .newsLarge [class*=blurb-wide] img {
    float: left;
    margin-right: 0;
    width: 33%; }

  .newsLarge [class*=blurb-wide] span.blurb-wide--large-image img {
    width: 100%;
    float: none; }

  .newsLarge [class*=blurb-wide] div {
    float: left;
    margin-left: 5%;
    margin-right: 0;
    width: 62%;
    top: 0;
    position: inherit; }

  .newsLarge [class*=blurb-wide] div.blurb-wide--large-image {
    margin-left: 0;
    width: 100%; } }
.newsLarge .blurb-wide {
  overflow: hidden;
  margin-top: 1em; }

.newsLarge .blurb-wide span.thumb-image {
  display: block;
  width: 100%; }

.newsLarge .blurb-wide div.blurb-wide--no-thumb {
  margin-left: 0;
  width: 100%; }

/*@media only screen and (max-width: 767px) {
  .newsLarge article {
    width: 100%;
    float: none;
    overflow: hidden; }

  .newsLarge article:nth-child(odd) {
    margin-left: 0; }

  .newsLarge article .thumb-image img {
    width: 100%; }

  .newsLarge article div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    clear: left; }

  .newsLarge article.blurb-wide--paired {
    width: 100%; }

  .newsLarge article.blurb-wide--paired:nth-of-type(even) {
    margin-left: 0; } }
.newsLarge .invFoot {
  clear: both;
  width: 100%; }*/

article.news {
  margin: 2em 0; }

article.news span.thumb-image {
  width: 33%; }

@media only screen and (min-width: 768px) {
  article.news [class*=blurb-wide] img {
    float: left;
    margin-right: 0;
    width: 33%; }

  article.news [class*=blurb-wide] div {
    float: left;
    margin-left: 5%;
    margin-right: 0;
    width: 62%;
    top: 0;
    position: inherit; } }
@media only screen and (max-width: 767px) {
  article.news article {
    width: 100%;
    float: none;
    overflow: hidden; }

  article.news article:nth-child(odd) {
    margin-left: 0; }

  article.news article .thumb-image img {
    width: 100%; }

  article.news article div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    clear: left; } }
.newsSmall article {
  margin-bottom: 0;
  border-bottom: 1px solid #ccc; }

.newsSmall article div p {
  font-size: .88em; }

.newsSmall [class*=blurb-wide] div {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  top: 0;
  position: inherit; }

.newsviewer-otherarticles a {
  float: right;
  background-color: #034da1;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px 20px;
  color: white; }

.newsviewer-otherarticles a:hover {
  background-color: #002855;
  text-decoration: none; }

/* News in middle split and three columns override
------------------------------------------------------*/
/*@media only screen and (max-width: 989px) {
  .middle-split .newsLarge, .threecolumns .newsLarge {
    margin-top: 0; }

  .middle-split .newsLarge article, .threecolumns .newsLarge article {
    width: 100%; }

  .middle-split .newsLarge article:nth-child(odd), .middle-split .newsLarge article:nth-child(even), .threecolumns .newsLarge article:nth-child(odd), .threecolumns .newsLarge article:nth-child(even) {
    margin-left: 0; } }*/
/* RSS
----------------------------------------------------------------*/
.news-title .news-rss-feed,
.events-title .news-rss-feed {
  float: right; }

/* Event row fix 
----------------------------------------------------------------*/
.row {
  display: block;
  width: 100%;
  overflow: hidden;
  clear: both;
  margin-bottom: 1em; }

.threecolumns {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5em; }

.threecolumns > section {
  border-top: 5px solid transparent;
  padding-top: 12px; }

@media only screen {
  .threecolumns > section.threecolumns__column1 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 31.3275440769%; }

  .threecolumns > section.threecolumns__column2 {
    display: block;
    float: left;
    margin-left: 34.3598890919%;
    margin-right: -100%;
    width: 31.3093535238%; }

  .threecolumns > section.threecolumns__column3 {
    display: block;
    float: left;
    margin-left: 68.7015876306%;
    margin-right: -100%;
    width: 31.2984123694%; } }
.threecolumns li {
  width: 100%; }

.fb-search__form .fb-search__input {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 63.9296187683%; }

.fb-search__form .fb-search__submit {
  display: block;
  float: left;
  margin-left: 66.963292547%;
  margin-right: -100%;
  width: 33.036707453%; }

.fb-search__listings {
  list-style-type: none;
  margin-left: 0; }

.fb-search__pagination {
  margin-left: 0;
  overflow: hidden;
  list-style-type: none; }

.fb-search__pagination li {
  float: left;
  width: auto;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-right: 15px;
  padding-right: 1.5rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  padding-left: 15px;
  padding-left: 1.5rem;
  border: 1px solid silver;
  border-radius: 2.5px;
  border-radius: 0.25rem;
  margin-right: 10px;
  margin-right: 1rem; }

.fb-search__pagination li.fb-search__pagination--list-el--current {
  color: black; }

/* Overrides
* FYI - Unfortunatly you cannot override Sass variables to be inherited by existing code. For example where a colour variable changes,
* an override partial is needed redeclaring the new colour.
*
-------------------------------------------------------------- */
.blurb--video {
  clear: both;
  margin-bottom: 1em; }

.blurb--video.video--large {
  max-width: 900px; }

.blurb--video.video--small {
  max-width: 450px; }

.blurb--video.pull-left, .blurb--video.pull-right {
  float: none;
  width: auto; }

@media only screen {
  .blurb--video.pull-left {
    margin-bottom: 1em;
    margin-top: 0;
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 48.429292929%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3.03030303%; }

  .blurb--video.pull-right {
    margin-bottom: 1em;
    margin-top: 0;
    display: block;
    float: left;
    margin-left: 51.459595959%;
    margin-right: -100%;
    width: 48.429292929%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 3.03030303%; }

  .blurb--video.pull-right .tag {
    right: 0;
    left: auto; } }
.blurb--video.video--captioned {
  margin-bottom: 1em; }

.owl-carousel__item.blurb--video figcaption {
  /*hide overflowing elements as interferes with video controls*/
  overflow: hidden;
  top: 12px;
  background: transparent; }

.owl-carousel__item.blurb--video figcaption div {
  background: #191919;
  opacity: 1;
  padding: 0 0.5em; }

.owl-carousel__item.video--large figcaption {
  max-height: 300px; }

.owl-carousel__item.video--small figcaption {
  max-height: 150px; }

/*-------youtube---------*/
.owl-carousel__item.blurb--video figcaption.overlay--youtube {
  top: 28px; }

.owl-carousel__item.blurb--video figcaption.overlay--vimeo {
  left: 5px;
  top: 70px; }

/*@media only screen and (max-width: 767px) {
  .owl-carousel__item.blurb--video figcaption.overlay--youtube {
    top: 0;
    padding: 1em 0 0 0;
    background: #555; }

  .owl-carousel__item.blurb--video figcaption.overlay--youtube div {
    background: transparent; }

  .owl-carousel__item.blurb--video figcaption.overlay--vimeo {
    top: 0;
    left: 0;
    padding: 1em 0 0 0;
    background-color: #555; }

  .owl-carousel__item.blurb--video figcaption.overlay--vimeo div {
    background: transparent; }

  .owl-carousel__item.blurb--video .video-wrap.video--captioned {
    margin-bottom: 0; } }*/
/* Utilities
-------------------------------------------------------------- */
/* Image options
-------------------------------------------------------------- 

.img-pull-left, .float-left, .image-left {
	margin-bottom: 1em;
	margin-top: 1em;
	@include gs-span(dc, 1, 2);
	@include gs-float(dc, left);
}

.img-pull-right, .float-right, .image-right {
	margin-bottom: 1em;
	margin-top: 1em;
	@include gs-span(dc, 3, 4);
	@include gs-float(dc, right);
}

.img-rounded {
	border-radius: 50em;
}

.img-sm, .small-image {
	max-width: $image-max-width-sm;
}

.img-md, .medium-image {
	max-width: $image-max-width-md;
}

.img-lg, .large-image {
	max-width: $image-max-width-lg;
}

.img-xl, .xl-image {
	max-width: $image-max-width-xl;
}

.img-xxl .xxl-image {
	max-width: $image-max-width-xxl;
}

*/
/* Custom patterns
* Patterns are not duplicates of pre-existing patterns in Indigo - only bespoke, skin-specific patterns should
* be within this directory.
-------------------------------------------------------------- */
/* 
* Pattern name: Copy
* Use: Styling and structuring of plain content
* Note: N/A
-------------------------------------------------------------- */
.copy__intro, .lead {
  font-weight: 300;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }
  @media (max-width: 767px) {
    .copy__intro, .lead {
      font-size: 18px;
      font-size: 1.8rem; } }

.copy__image-wrapper {
  margin-left: -35px; }
  @media (max-width: 989px) {
    .copy__image-wrapper {
      margin-right: -35px; } }

.copy__section {
  clear: both;
  margin-bottom: 32px;
  margin-bottom: 3.2rem; }
  .copy__section > *:last-child, .copy__section > *:last-child > *:last-child, .copy__section > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }
  .copy__section:last-child {
    margin-bottom: 0; }
  @media (max-width: 989px) {
    .copy__section hr {
      margin-bottom: 28px;
      margin-bottom: 2.8rem; } }

.copy__heading, h2.heading {
  color: #007a87;
  border-bottom: 1px solid #B9D7D8;
  border-bottom: 1px solid rgba(0, 122, 135, 0.25);
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem; }

.copy__anchor:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5.5em;
  margin-top: -5.5em; }
  @media (max-width: 989px) {
    .copy__anchor:before {
      content: none; } }

/* 
* Pattern name: Island
* Use: For sectioning off and highlighting a content area
* Note: N/A
-------------------------------------------------------------- */
.island {
  margin-bottom: 1.5em;
  background: white;
  border: 1px solid #dadacb;
  overflow: hidden;
  position: relative;
  clear: both;
  padding: 22px;
  padding: 2.2rem; }
  .island > *:last-child, .island > *:last-child > *:last-child, .island > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }
  @media (max-width: 479px) {
    .island {
      padding: 18px;
      padding: 1.8rem; } }
  .island:last-child {
    margin-bottom: 0; }

.island--highlight {
  background: #dbeaea;
  border: 1px solid rgba(0, 122, 135, 0.1); }
  .island--highlight:nth-child(1) {
    margin-bottom: 1.5em; }

.island--lowlight {
  background-color: #333333;
  border: 0; }

.island--rounded {
  border-radius: 4px; }

.island--no-pad {
  padding: 0; }

.subjectpage .island--no-pad {
  border-width: 0px; }

/* 
* Pattern name: Banner
* Use: A simple full width navigational link holding place
* Note: N/A
-------------------------------------------------------------- */
.banner {
  width: 100%;
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  left: -35px;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  z-index: 100; }

.banner__list {
  margin-left: 1em; }

.banner__item:last-child {
  margin-right: 0; }

.banner__link {
  color: inherit;
  font-weight: 400; }
  .banner__link:hover, .banner__link:active, .banner__link:focus {
    color: inherit; }

.banner__label {
  font-weight: 500; }

.banner__link--active {
  color: #ff5a5f;
  font-weight: 600; }
  .banner__link--active:hover, .banner__link--active:active, .banner__link--active:focus {
    color: #ff5a5f; }

/* 
* Pattern name: Tab
* Use: For switching between tabular content
* Note: '.tabs--long' applies the same changes to the normal tab pattern but applies
* the changes at a larger breakpoint
-------------------------------------------------------------- */
/*@media (max-width: 767px) {
  .tabs {
    border: 1px solid #d4d4d4; } }

@media (min-width: 768px) and (max-width: 1179px) {
  .tabs--long {
    border: 1px solid #d4d4d4; } }
@media (min-width: 768px) and (max-width: 1179px) {
  .tabs--long .tabs__content {
    border-width: 0;
    border-top-width: 1px; } }
@media (max-width: 1399px) {
  .tabs--long .tabs__link {
    font-size: 15px;
    font-size: 1.5rem; } }
@media (min-width: 768px) and (max-width: 1179px) {
  .tabs--long .tabs__list {
    background-color: white; }
    .tabs--long .tabs__list .tabs__item {
      overflow: hidden;
      -webkit-transition: height, .25s;
              transition: height, .25s;
      position: absolute;
      height: 0; }
    .tabs--long .tabs__list .tabs__item--active {
      height: auto;
      position: relative; } }*/
.tabs--long .tabs__list--open .tabs__item {
  position: relative;
  height: auto; }
.tabs--long .tabs__list--open .tabs__item--active > a {
  background-image: none; }
/*@media (min-width: 768px) and (max-width: 1179px) {
  .tabs--long .tabs__item {
    width: 100%;
    max-width: 100%;
    border-right: 0;
    text-align: left; } }
@media (min-width: 768px) and (max-width: 1179px) {
  .tabs--long .tabs__item--active > a {
    background-color: rgba(0, 122, 135, 0.25);
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/ucl-menu-alt.svg");
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 1em;
    border: 0; } }*/

.tabs__content {
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .tabs__content {
      border-width: 0;
      border-top-width: 1px; } }

.tabs__list {
  margin: 0;
  margin-bottom: -1px;
  display: inline-block;
  width: 100%; }
  /*@media (max-width: 767px) {
    .tabs__list {
      background-color: white; }
      .tabs__list .tabs__item {
        overflow: hidden;
        -webkit-transition: height, .25s;
                transition: height, .25s;
        position: absolute;
        height: 0; }
      .tabs__list .tabs__item--active {
        height: auto;
        position: relative; } }*/

.tabs__list--open .tabs__item {
  position: relative;
  height: auto; }
.tabs__list--open .tabs__item--active > a {
  background-image: none; }

.tabs__item {
  margin-bottom: 0;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  vertical-align: top; }
  /*@media (max-width: 767px) {
    .tabs__item {
      width: 100%;
      max-width: 100%;
      border-right: 0;
      text-align: left; } }*/

.tabs__item--active > a {
  border: 1px solid #d4d4d4;
  background: white;
  border-bottom: 0;
  position: relative;
  z-index: 3;
  color: #007a87; }
  .tabs__item--active > a:hover, .tabs__item--active > a:active, .tabs__item--active > a:focus {
    color: #00636e; }
  /*@media (max-width: 767px) {
    .tabs__item--active > a {
      background-color: rgba(0, 122, 135, 0.25);
      background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/ucl-menu-alt.svg");
      background-repeat: no-repeat;
      background-position: right 1em center;
      background-size: 1em;
      border: 0; } }*/

.tabs__link {
  font-weight: 500;
  color: #333333;
  padding: .75em 1em;
  margin: 0;
  line-height: 2;
  display: block; }
  .tabs__link:hover, .tabs__link:active, .tabs__link:focus {
    color: #333333; }
  /*@media (max-width: 1179px) {
    .tabs__link {
      font-size: 15px;
      font-size: 1.5rem; } }
  @media (max-width: 989px) {
    .tabs__link {
      padding: .5em 1em; }
      .tabs__link:hover, .tabs__link:active, .tabs__link:focus {
        text-decoration: none; } }*/

.tabs__area {
  display: none; }
  .tabs__area > *:last-child, .tabs__area > *:last-child > *:last-child, .tabs__area > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

.tabs__area--active {
  display: block; }

/* 
* Pattern name: Icons
* Use: To append/prepend icons to HTML elements
* Note: https://github.com/fontello/fontello
-------------------------------------------------------------- */
@font-face {
  font-family: 'fontello';
  src: url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/fonts/uclundergraduate.eot?5793884");
  src: url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/fonts/uclundergraduate.eot?5793884#iefix") format("embedded-opentype"), url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/fonts/uclundergraduate.woff?5793884") format("woff"), url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/fonts/uclundergraduate.ttf?5793884") format("truetype"), url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/fonts/uclundergraduate.svg?5793884#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.icon--highlight {
  color: #ff5a5f; }

.icon--large {
  font-size: 30px;
  font-size: 3rem; }

.icon--after:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  text-decoration: inherit;
  position: absolute;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-transform: none;
  right: 1em;
  line-height: 2.85;
  top: 0;
  text-decoration: none; }

.icon--push-right {
  margin-right: 1em; }

.icon--push-left {
  margin-left: 1em; }

.icon--mail:before {
  content: '\e800'; }

.icon--angle-double-right:before {
  content: '\e801'; }

.icon--angle-double-left:before {
  content: '\e802'; }

.icon--angle-double-up:before {
  content: '\e803'; }

.icon--angle-double-down:before {
  content: '\e804'; }

.icon--angle-left:before {
  content: '\e805'; }

.icon--angle-up:before {
  content: '\e806'; }

.icon--angle-down:before {
  content: '\e807'; }

.icon--phone:before {
  content: '\e808'; }

.icon--megaphone:before {
  content: '\e809'; }

.icon--mobile:before {
  content: '\e80a'; }

.icon--user:before {
  content: '\e80b'; }

.icon--users:before {
  content: '\e80c'; }

.icon--user-add:before {
  content: '\e80d'; }

.icon--online:before {
  content: '\e80e'; }

.icon--location:before {
  content: '\e80f'; }

.icon--bell:before {
  content: '\e810'; }

.icon--chat:before {
  content: '\e811'; }

.icon--attention:before {
  content: '\e812'; }

.icon--forward:before {
  content: '\e813'; }

.icon--reply-all:before {
  content: '\e814'; }

.icon--reply:before {
  content: '\e815'; }

.icon--attach:before {
  content: '\e816'; }

.icon--home:before {
  content: '\e817'; }

.icon--dot-3:before {
  content: '\e818'; }

.icon--dot-2:before {
  content: '\e819'; }

.icon--dot:before {
  content: '\e81a'; }

.icon--briefcase:before {
  content: '\e81b'; }

.icon--mouse:before {
  content: '\e81c'; }

.icon--paper-plane:before {
  content: '\e81d'; }

.icon--graduation-cap:before {
  content: '\e81e'; }

.icon--gauge:before {
  content: '\e81f'; }

.icon--vcard:before {
  content: '\e820'; }

.icon--address:before {
  content: '\e821'; }

.icon--map:before {
  content: '\e822'; }

.icon--floppy:before {
  content: '\e823'; }

.icon--clipboard:before {
  content: '\e824'; }

.icon--angle-right:before {
  content: '\e825'; }

.icon--download:before {
  content: '\e826'; }

.icon--down-circled:before {
  content: '\e827'; }

.icon--book:before {
  content: '\e828'; }

.icon--ok:before {
  content: '\e829'; }

.icon--up:before {
  content: '\e82a'; }

.icon--right:before {
  content: '\e82b'; }

.icon--left:before {
  content: '\e82c'; }

.icon--up-open:before {
  content: '\e82d'; }

.icon--right-open:before {
  content: '\e82e'; }

.icon--left-open:before {
  content: '\e82f'; }

.icon--down-open:before {
  content: '\e830'; }

.icon--down:before {
  content: '\e831'; }

.icon--down-open-big:before {
  content: '\e832'; }

.icon--left-open-big:before {
  content: '\e833'; }

.icon--right-open-big:before {
  content: '\e834'; }

.icon--up-open-big:before {
  content: '\e835'; }

.icon--link-ext:before {
  content: '\e836'; }

/* 
* Pattern name: List
* Use: List styling utility classes
* Note: N/A
-------------------------------------------------------------- */
.list-align {
  margin-left: 0; }

.list-tick {
  margin-left: 0; }
  .list-tick li {
    padding-left: 1.75em;
    list-style-type: none;
    position: relative; }
    .list-tick li:before {
      font-family: "fontello";
      -webkit-font-smoothing: antialiased;
      font-variant: normal;
      text-transform: none;
      content: '\e829';
      font-size: 1em;
      position: absolute;
      left: 0;
      line-height: 1.5; }

.list-inline--btn li {
  vertical-align: top; }
  .list-inline--btn li > .btn {
    margin-bottom: 0; }
  /*@media (max-width: 767px) {
    .list-inline--btn li {
      display: block;
      margin-right: 0;
      margin-bottom: 16px;
      margin-bottom: 1.6rem; }
      .list-inline--btn li .btn {
        display: block;
        width: 100%; } }*/

.list-block--btn li > .btn {
  display: block;
  margin-top: -1px;
  margin-bottom: 0; }

.list-inline--floated .list__item {
  float: left;
  box-sizing: border-box;
  width: 100%; }
  /*@media (max-width: 767px) {
    .list-inline--floated .list__item {
      float: none; } }
@media (min-width: 768px) {
  .list-inline--floated .list__item--1 {
    width: 20%;
    padding-right: 1em; } }
@media (min-width: 990px) and (max-width: 1069px) {
  .list-inline--floated .list__item--1 {
    width: 50%;
    margin-bottom: .5em;
    padding-right: 0; }
    .list-inline--floated .list__item--1:first-child {
      padding-right: .5em; } }
@media (min-width: 768px) {
  .list-inline--floated .list__item--2 {
    width: 60%; } }
@media (min-width: 990px) and (max-width: 1069px) {
  .list-inline--floated .list__item--2 {
    width: 100%; } }*/

/* 
* Pattern name: Indicator
* Use: Relative/fixed scroll spy area that identifies to the user which area of content
* they are looking at
* Note: N/A
-------------------------------------------------------------- */
.indicator {
  position: relative;
  z-index: 100;
  font-size: 15px;
  font-size: 1.5rem; }
  @media (max-width: 1179px) {
    .indicator {
      font-size: 1.2rem; } }
  @media (max-width: 989px) {
    .indicator {
      display: none; } }

.indicator__list {
  width: 100%;
  display: inline-block;
  background-color: #333333;
  position: relative;
  left: -35px;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  margin: auto; }

.indicator__item {
  display: inline-block;
  text-align: center;
  line-height: 5;
  padding-left: 1.75%;
  padding-right: 1.75%;
  white-space: nowrap; }
  @media (max-width: 1399px) {
    .indicator__item {
      padding-left: .75em;
      padding-right: .75em; } }
  .indicator__item:first-child {
    padding-left: 0; }
  .indicator__item:last-child {
    padding-right: 0; }

.indicator__link {
  color: white;
  position: relative;
  font-weight: 500;
  -webkit-transition: color, .25s;
          transition: color, .25s; }
  .indicator__link:after {
    content: "";
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: #333333;
    margin-left: -1em;
    left: 50%;
    position: absolute;
    z-index: 10;
    margin-bottom: 1px;
    bottom: -3.75em;
    -webkit-transform: translateY(-1em);
        -ms-transform: translateY(-1em);
            transform: translateY(-1em);
    -webkit-transition: -webkit-transform .25s;
            transition: transform .25s; }
    .no-csstransforms .indicator__link:after {
      bottom: -3em;
      -webkit-transition: bottom .25s;
              transition: bottom .25s; }
    /*@media (max-width: 989px) {
      .indicator__link:after {
        content: "";
        display: none; } }*/
    .lt-ie9 .indicator__link:after {
      content: "";
      display: none; }
  .indicator__link:hover, .indicator__link:active, .indicator__link:focus {
    color: #ff5a5f;
    text-decoration: none;
    -webkit-transition: color, .25s;
            transition: color, .25s; }

.indictor__link--basic:after {
  content: "";
  display: none; }

.indicator__link--active {
  color: #ff5a5f; }
  .indicator__link--active:after {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .25s;
            transition: transform .25s; }
    .no-csstransforms .indicator__link--active:after {
      bottom: -3.75em;
      -webkit-transition: bottom .25s;
              transition: bottom .25s; }

/* 
* Pattern name: Back to top
* Use: An achor link to the top of the page that appears after user scroll
* Note: A back to top link has scope to be incorporated into the indicator bar
-------------------------------------------------------------- */
.back-to-top {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s;
          transition: all .25s; }
  .lt-ie9 .back-to-top {
    display: none;
    opacity: 1;
    visibility: visible; }

/*@media (max-width: 989px) {
  .back-to-top--responsive {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 100;
    right: 1em;
    bottom: 1em;
    width: 4em;
    height: 4em;
    line-height: 4;
    text-align: center; } }*/

.back-to-top--static {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  width: 4em;
  text-align: center; }

.back-to-top--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .25s;
          transition: all .25s; }
  .lt-ie9 .back-to-top--active {
    display: block; }

.back-to-top__link {
  color: white;
  -webkit-transition: color, .25s;
          transition: color, .25s;
  display: block;
  padding: 0;
  background-color: #333333;
  opacity: .95;
  -webkit-transition: opacity, .25s;
          transition: opacity, .25s;
  padding-top: 1.25em;
  padding-bottom: 1.25em; }
  .back-to-top__link:hover, .back-to-top__link:active, .back-to-top__link:focus {
    color: #ff5a5f;
    text-decoration: none;
    -webkit-transition: color, .25s;
            transition: color, .25s; }
  .indicator .back-to-top__link {
    padding-top: 0;
    padding-bottom: 0; }
  .lt-ie9 .back-to-top__link {
    opacity: 1; }

/* 
* Pattern name: Dropdown
* Use: Custom styled select box
* Note: Styles here will work for Webkit and Firefox browsers only
-------------------------------------------------------------- */
.dropdown {
  margin-bottom: .5em; }

.dropdown__inner {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  width: auto;
  border: 0;
  padding: .5em 3em .5em 1em;
  background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow.png");
  background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-color: #B9D7D8;
  background-color: rgba(0, 122, 135, 0.25);
  font-weight: 500;
  border-radius: 0;
  margin-bottom: 0;
  background-size: 1em 1.75em;
  background-position: right -1em center\9;
  background-size: 3em .75em\9; }
  .dropdown__inner::-ms-expand {
    opacity: 0; }
  .no-bgpositionshorthand .dropdown__inner {
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow.png");
    background-position-x: 95%;
    background-position-y: 50%; }
  .ie .dropdown__inner {
    background-image: none !important;
    padding: .5em 1em; }
  /*@media (max-width: 479px) {
    .dropdown__inner {
      font-size: 15px;
      font-size: 1.5rem; } }*/

.dropdown--inverse .dropdown__inner {
  color: white;
  background-color: #4d4d4d;
  background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow-white.png");
  background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow-white.svg"); }
  .no-bgpositionshorthand .dropdown--inverse .dropdown__inner {
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow-white.png");
    background-position-x: 95%;
    background-position-y: 50%; }

@-moz-document url-prefix() {
  .dropdown {
    background-color: rgba(0, 122, 135, 0.25);
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow.png");
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 1em 1.75em;
    padding-right: 20px;
    width: auto;
    display: inline-block; }
    .dropdown .dropdown__inner {
      background: transparent; } }
@-moz-document url-prefix() {
  .dropdown--inverse {
    color: white;
    background-color: #4d4d4d;
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow-white.png");
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/dropdown-arrow-white.svg"); }
    .dropdown--inverse .dropdown__inner {
      background: transparent; } }
/* 
* Pattern name: Checkbox
* Use: Custom styled check box
* Note: N/A
-------------------------------------------------------------- */
.checkbox {
  -webkit-appearance: none;
  background-color: rgba(0, 122, 135, 0.25);
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
  background-size: .8em;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 .5em 0 0;
  vertical-align: bottom; }
  .checkbox:checked {
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick.png");
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick.svg"); }
    .no-bgpositionshorthand .checkbox:checked {
      background-image: url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick.png");
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 1em; }
  .checkbox:hover {
    cursor: pointer; }

.checkbox--inverse {
  background-color: #4d4d4d; }
  .checkbox--inverse:checked {
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick-white.png");
    background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick-white.svg"); }
    .no-bgpositionshorthand .checkbox--inverse:checked {
      background-image: url("/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/radio-tick-white.png");
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 1em; }

/* 
* Pattern name: Degree List
* Use: For listing degrees in tables
* Note: N/A
-------------------------------------------------------------- */
.degree-list {
  margin-left: 0;
  list-style-type: none; }

.degree-list__inner {
  padding: 18px;
  padding: 1.8rem; }

.degree-list__table {
  border: 0;
  margin-bottom: 0;
  float: none;
  font-size: 16px;
  font-size: 1.6rem; }

.degree-list__group {
  margin-bottom: 0;
  position: relative;
  margin-top: 1.5em;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }

/*@media (max-width: 767px) {
  .degree-list__group--empty {
    display: none; } }*/

.degree-list__letter {
  width: 100%;
  color: white;
  display: inline-block;
  line-height: 3;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #007a87;
  padding-left: 18px;
  padding-left: 1.8rem;
  font-size: 22px;
  font-size: 2.2rem; }
  /*@media (max-width: 1069px) {
    .degree-list__letter {
      line-height: 2.5; } }
  @media (max-width: 767px) {
    .degree-list__letter {
      padding-left: 20px;
      padding-left: 2rem;
      line-height: 2; } }*/

.degree-list__jump {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding-right: 1.5em;
  line-height: 3;
  color: white; }
  .degree-list__jump:hover {
    color: white; }
  /*@media (max-width: 767px) {
    .degree-list__jump {
      padding-right: .5em; } }*/

.programe-list__item-header {
  border-bottom: 1px solid #ccc; }

.degree-list__heading {
  margin-top: 0;
  border-bottom: 1px solid #ccc; }

.degree-list__item-heading {
  border: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 7.5px;
  padding-top: 0.75rem;
  padding-bottom: 7.5px;
  padding-bottom: 0.75rem;
  background: transparent;
  vertical-align: top;
  color: #333333; }
  /*@media (max-width: 767px) {
    .degree-list__item-heading {
      display: none; }*/ }

/*@media (max-width: 767px) {
  .degree-list__item-heading--related {
    display: none; } }*/

.degree-list__item {
  border: 0;
  width: 40%;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 7.5px;
  padding-top: 0.75rem;
  padding-bottom: 7.5px;
  padding-bottom: 0.75rem; }
  /*@media (max-width: 767px) {
    .degree-list__item {
      font-size: 15px;
      font-size: 1.5rem; } }*/

.degree-list__item--related {
  width: 15%;
  margin-left: 10px;
  padding-left: 0;
  font-weight: normal; }
  /*@media (max-width: 989px) {
    .degree-list__item--related {
      width: 20%; } }
  @media (max-width: 767px) {
    .degree-list__item--related {
      display: none; } }*/

.degree-list__message {
  text-align: center;
  color: #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 22px;
  font-size: 2.2rem; }

h5.alt-qualifications__hidden, p.alt-qualifications__hidden {
  display: none; }

p.alt-qualifications__hidden {
  margin-bottom: 0; }
/*
@media only screen and (min-width: 768px) {
  .degree-list__item--qualification-mobile {
    display: none; } }*/

/* 
* Pattern name: Search box
* Use: For an inline site search input with filters
* Note: N/A
-------------------------------------------------------------- */
.search-box {
  overflow: hidden; }
  .search-box > *:last-child, .search-box > *:last-child > *:last-child, .search-box > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }
  .search-box a {
    color: white; }

.search-box__search {
  width: 80%;
  display: inline-block;
  border: 0;
  height: 3.25em;
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }
  .search-box__search:hover, .search-box__search:active, .search-box__search:focus {
    border: 0; }
  /*@media (max-width: 479px) {
    .search-box__search {
      font-size: 15px;
      font-size: 1.5rem;
      width: 100%;
      padding: 1em;
      padding-right: 2.5em; } }*/
  .lt-ie9 .search-box__search {
    line-height: 2.25; }

.search-box__fieldset--inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
  margin-bottom: 0; }
  /*@media (max-width: 1499) {
    .search-box__fieldset--inline {
      max-width: 100%;
      margin-bottom: 1em; } }
  @media (max-width: 479px) {
    .search-box__fieldset--inline {
      display: block;
      margin-right: 0; } }*/
  .lt-ie9 .search-box__fieldset--inline {
    margin-bottom: 0;
    vertical-align: top; }

.search-box__label {
  font-weight: 400;
  color: white;
  cursor: pointer; }
  .lt-ie9 .search-box__label {
    display: inline; }

.search-box__inline-dropdown {
  display: inline-block; }
  /*@media (max-width: 479px) {
    .search-box__inline-dropdown {
      width: 100%; } }*/

@media (min-width: 768px) {
  .search-box__dropdown {
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
    font-size: 1.5rem; } }
/*@media (max-width: 767px) {
  .search-box__dropdown {
    margin-top: 0em;
    width: 100%;
    margin-bottom: 1em; } }*/

.search-box__results {
  color: white;
  position: relative;
  display: table-cell;
  padding: .5em 0;
  font-size: .8em;
  box-sizing: border-box; }
  /*@media (max-width: 619px) {
    .search-box__results {
      display: none; } }*/

.search-box__submit-wrapper {
  position: absolute;
  top: 0;
  right: 1px;
  display: inline-block;
  width: 20%; }
  .search-box__submit-wrapper:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: .75em solid transparent;
    border-right-color: #4693ea;
    bottom: 0;
    margin-left: 0;
    top: 15px;
    left: -22px;
    -webkit-transition: border .5s;
            transition: border .5s; }
    /*@media (max-width: 479px) {
      .search-box__submit-wrapper:before {
        content: none; } }*/
  /*@media (max-width: 479px) {
    .search-box__submit-wrapper {
      width: auto;
      top: 100%;
      width: 100%;
      position: relative;
      right: 0; } }*/
  .search-box__submit-wrapper .search-box__submit {
    height: 3.26em; }

.search-box__submit {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  background: #4693ea;
  border: 0;
  color: white;
  line-height: 3.25;
  height: 3.25em;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }
  /*@media (max-width: 479px) {
    .search-box__submit {
      padding: 0 1.5em;
      height: 2.75em;
      line-height: 2.75; } }*/

.search-box__reset {
  -webkit-appearance: none;
  position: absolute;
  background: #222;
  bottom: 0;
  right: 0;
  border: none;
  color: white;
  cursor: pointer;
  padding: .5em 1em; }

/* 
* Pattern name: Label
* Use: Tag-like inline content
* Note: See http://getbootstrap.com/components/#labels
-------------------------------------------------------------- */
.label {
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: .25em;
  padding: 0 .6em;
  line-height: 1.75;
  font-weight: 600;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25em;
  display: inline-block;
  font-size: 10px;
  font-size: 1rem; }
  .label:empty {
    display: none; }
  .label:hover, .label:active, .label:focus {
    text-decoration: none; }

.label--primary {
  background-color: #ff5a5f; }

.label--push-left {
  margin-left: .5em; }

.label--push-right {
  margin-right: .5em; }

/* 
* Pattern name: Image
* Use: Image utility classes/minor styling
* Note: N/A
-------------------------------------------------------------- */
.img-inline {
  vertical-align: middle;
  margin-right: .5em; }

.img-push-right {
  margin-right: .5em; }

.img-push-left {
  margin-left: .5em; }

/* Overrides
* FYI - Unfortunatly you cannot override Sass variables to be inherited by existing code. For example where a colour variable changes,
* an override partial is needed redeclaring the new colour.
*
-------------------------------------------------------------- */
/* 
* Override name: Base styling
* Note: N/A
-------------------------------------------------------------- */
body {
  background-color: #EFEFE9; }
  /*@media (max-width: 767px) {
    body {
      font-size: 15px;
      font-size: 1.5rem; } }*/

@media (max-width: 989px) {
  table {
    max-width: 100%;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden; } }

th, td, caption {
  padding: .75em .5em; }
  th > *:last-child, th > *:last-child > *:last-child, th > *:last-child > *:last-child > *:last-child, td > *:last-child, td > *:last-child > *:last-child, td > *:last-child > *:last-child > *:last-child, caption > *:last-child, caption > *:last-child > *:last-child, caption > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

th {
  font-weight: 500;
  background-color: #D8EAEC;
  background-color: rgba(0, 122, 135, 0.15);
  color: #007a87; }

/* 
* Override name: Typography
* Note: N/A
-------------------------------------------------------------- */
h3 {
  font-weight: 700; }

h4, h5 {
  font-weight: 600; }

.btn, .tabs {
  margin-bottom: 1.5em; }

.dl-inline dd, .dl-inline dt {
  float: none; }
@media (min-width: 1070px) {
  .dl-inline dt {
    width: 15%;
    float: left;
    margin-right: 0; }
  .dl-inline dd {
    width: 75%;
    float: left; } }

/* 
* Override name: Layout
* Note: N/A
-------------------------------------------------------------- */
.layout--one-third-two-thirds .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--one-third-two-thirds .site-content__main {
    display: block;
    float: left;
    margin-left: 36.0303%;
    margin-right: -100%;
    width: 63.85859%; } }
@media (min-width: 990px) {
  .layout--one-third-two-thirds .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 33%; } }

.layout--two-thirds-one-third .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--two-thirds-one-third .site-content__main {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 63.85859%; } }
@media (min-width: 990px) {
  .layout--two-thirds-one-third .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 66.88889%;
    margin-right: -100%;
    width: 33%; } }

.layout--three-fourths-one-fourth .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--three-fourths-one-fourth .site-content__main {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 63.85859%; } }
@media (min-width: 990px) {
  .layout--three-fourths-one-fourth .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 66.88889%;
    margin-right: -100%;
    width: 33%; } }

.layout--one-fifth-four-fifths .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--one-fifth-four-fifths .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 19.86532%; } }
@media (min-width: 990px) {
  .layout--one-fifth-four-fifths .site-content__main {
    display: block;
    float: left;
    margin-left: 22.89562%;
    margin-right: -100%;
    width: 77.03704%; } }

.layout--two-fifths-three-fifths .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--two-fifths-three-fifths .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 31.30645%; } }
@media (min-width: 990px) {
  .layout--two-fifths-three-fifths .site-content__main {
    display: block;
    float: left;
    margin-left: 34.33675%;
    margin-right: -100%;
    width: 65.59591%; } }

.layout--three-fifths-two-fifths .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 1180px) {
  .layout--three-fifths-two-fifths .site-content__main {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 65.62502%; } }
@media (min-width: 1180px) {
  .layout--three-fifths-two-fifths .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 68.65532%;
    margin-right: -100%;
    width: 31.27734%; } }

.layout--four-fifths-one-fifth .site-content__body {
  width: 100%;
  float: none;
  margin: 0; }
@media (min-width: 990px) {
  .layout--four-fifths-one-fifth .site-content__main {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 65.62502%; } }
@media (min-width: 1180px) {
  .layout--four-fifths-one-fifth .site-content__main {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 71.32997%; } }
@media (min-width: 990px) {
  .layout--four-fifths-one-fifth .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 68.65532%;
    margin-right: -100%;
    width: 31.27734%; } }
@media (min-width: 1180px) {
  .layout--four-fifths-one-fifth .site-content__sidebar {
    display: block;
    float: left;
    margin-left: 74.36027%;
    margin-right: -100%;
    width: 25.57239%; } }

/* 
* Override name: Site content
* Note: N/A
-------------------------------------------------------------- */
.site-content__inner {
  background-color: #f7f7f4; }
  @media (max-width: 989px) {
    .site-content__inner {
      border-top: 1px solid #dadacb; } }

/* 
* Override name: Pills
* Note: N/A
-------------------------------------------------------------- */
@media (min-width: 768px) {
  .pills {
    display: inline-block; }
    .pills:last-child {
      margin-bottom: -1.5em; } }

.pills__item {
  background-color: #007a87; }
  .pills__item:last-child {
    margin-bottom: 0; }
  .pills__item a {
    font-weight: 300; }

.pills__title {
  font-weight: 500; }

/* 
* Override name: Hero
* Note: N/A
-------------------------------------------------------------- */
.hero {
  background-image: url("//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/hero.jpg"); }
  @media (max-width: 989px) {
    .hero {
      border-bottom: 1px solid #dadacb; } }
  @media (max-width: 989px) {
    .hero {
      padding-top: 20px;
      padding-top: 2rem;
      padding-bottom: 20px;
      padding-bottom: 2rem; } }
  .hero + .site-content__inner {
    border-top: 0; }
  .hero *:first-child {
    margin-top: 0; }
  .lt-ie9 .hero {
    padding-top: 20px;
    padding-top: 2rem;
    padding-bottom: 20px;
    padding-bottom: 2rem; }

@media (min-width: 480px) and (max-width: 989px) {
  .hero--more-pad-sm {
    padding-top: 30px;
    padding-top: 3rem;
    padding-bottom: 30px;
    padding-bottom: 3rem; } }

@media (max-width: 1069px) {
  .hero--inverse {
    position: relative;
    left: -35px;
    padding-left: 35px;
    background-color: #333333;
    padding-right: 35px;
    width: 100%;
    border-bottom: 0; } }

.hero__title {
  margin-top: .25em;
  margin-bottom: 0;
  line-height: 1.25; }
  .hero__title + .pills {
    display: inline-block;
    vertical-align: top;
    margin-top: 1.5em; }

.hero__sub {
  margin-top: 1em;
  margin-bottom: 0; }

.hero__sub + .hero__blurb {
  margin-top: .25em; }

.hero__content {
  position: relative;
  height: 100%; }
  @media (min-width: 990px) {
    .hero__content {
      min-height: 18em;
      height: 25em;
      height: 42vh;
      max-height: 25em; } }
  @media (max-width: 989px) {
    .hero__content {
      padding-top: 0;
      width: 100%;
      height: auto;
      min-height: 0; } }
  .lt-ie9 .hero__content {
    min-height: 100%;
    height: 100%; }

.hero__body {
  width: 70%;
  position: absolute;
  bottom: 0; }
  .hero__body > *:last-child, .hero__body > *:last-child > *:last-child, .hero__body > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }
  @media (max-width: 989px) {
    .hero__body {
      position: relative; } }
  .lt-ie9 .hero__body {
    position: relative; }
  .homepage .hero__body {
    width: 100%; }
  @media (max-width: 989px) {
    .hero__body {
      width: 100%; } }

.hero__body--half-pad {
  padding: 1em; }

.hero__body--background {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 34px;
  padding: 3.4rem; }

.hero__body--background-inverse {
  background-color: #333333;
  color: white; }
  .lt-ie9 .hero__body--background-inverse {
    background-image: none; }

.hero__blurb--small {
  font-size: 15px;
  font-size: 1.5rem; }

/* 
* Override name: Box
* Note: N/A
-------------------------------------------------------------- */
.box {
  background-color: #f7f7f4;
  border-top-color: #333333;
  box-shadow: none;
  padding-left: 1em;
  padding-right: 1em; }

.box--copy {
  background-color: white; }

/* 
* Override name: Advert
* Note: N/A
-------------------------------------------------------------- */
@media (max-width: 619px) {
  .advert {
    position: relative;
    border: 1px solid #dadacb;
    background-color: white;
    padding: 18px;
    padding: 1.8rem; }
    .advert .advert__content {
      padding: 0;
      box-shadow: none; } }

.advert--show-image {
  padding-top: 14em;
  background-size: 100% 14em; }
  @media (max-width: 1399px) {
    .advert--show-image {
      background-size: auto 14em;
      background-position: top center; } }
  @media (min-width: 620px) and (max-width: 989px) {
    .advert--show-image {
      padding-top: 0;
      background-size: auto 100%;
      background-position: center right; }
      .advert--show-image .advert__inner {
        margin-right: 15em; } }
  @media (max-width: 619px) {
    .advert--show-image {
      padding: 1em 1.5em;
      padding-top: 14px;
      padding-top: 1.4rem;
      padding-bottom: 14px;
      padding-bottom: 1.4rem;
      padding-left: 18px;
      padding-left: 1.8rem;
      padding-right: 18px;
      padding-right: 1.8rem;
      background-image: none !important; } }

@media (max-width: 619px) {
  .advert--collapsible .advert__content {
    padding-top: .75em; } }
  @media (max-width: 619px) and (max-width: 619px) {
    .advert--collapsible .advert__content {
      display: none; } }
@media (max-width: 619px) and (max-width: 619px) {
  .advert--collapsible .advert__title {
    line-height: 0; } }
@media (max-width: 619px) {
  .advert--collapsible .advert__link {
    padding: .75em 0;
    display: block; }
    .advert--collapsible .advert__link:after {
      font-family: "fontello";
      content: '\e834';
      top: 0;
      margin-left: .5em;
      position: absolute;
      right: 0;
      text-align: center;
      line-height: 1.4;
      font-size: 18px;
      font-size: 1.8rem; } }

.advert__title {
  margin-bottom: 0; }

.advert__title, .advert__link {
  line-height: 1.25; }

.advert__title--highlight {
  color: #ff5a5f;
  font-size: 50px;
  font-size: 5rem; }
  @media (max-width: 767px) {
    .advert__title--highlight {
      font-size: 36px;
      font-size: 3.6rem; } }

.advert__sub {
  font-weight: 300;
  font-size: 22px;
  font-size: 2.2rem; }
  @media (max-width: 767px) {
    .advert__sub {
      font-size: 18px;
      font-size: 1.8rem; } }

.advert__img {
  min-height: 14em; }
  @media (max-width: 619px) {
    .advert__img {
      display: none; } }

.advert__head {
  background-color: white;
  position: relative;
  padding: 22px;
  padding: 2.2rem;
  padding-bottom: 0; }
  .advert__head > *:last-child, .advert__head > *:last-child > *:last-child, .advert__head > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }
  @media (max-width: 619px) {
    .advert__head {
      background-color: transparent;
      padding: 0; } }
  .advert__head + .advert__content {
    padding-top: 12px;
    padding-top: 1.2rem; }

.advert__icon {
  position: absolute;
  right: .5em;
  bottom: .5em;
  line-height: 1; }
  @media (max-width: 619px) {
    .advert__icon {
      right: 0;
      bottom: 0; } }

/* 
* Override name: Breadcrumb
* Note: N/A
-------------------------------------------------------------- */
@media (max-width: 989px) {
  .breadcrumb {
    border-bottom: 1px solid #dadacb; } }
@media (max-width: 619px) {
  .breadcrumb {
    display: none; } }

@media (max-width: 989px) {
  .breadcrumb__item {
    display: none; }
    .breadcrumb__item:nth-last-of-type(-n+2) {
      display: block; } }

/* 
* Override name: Button
* Note: N/A
-------------------------------------------------------------- */
.btn {
  line-height: 1.5;
  box-sizing: border-box;
  text-shadow: none; }

.btn--fluid {
  padding-left: 2%;
  padding-right: 2%; }

@media (min-width: 620px) {
  .btn--lg {
    line-height: 2; } }

.btn--block {
  display: block; }

.btn--primary {
  background-color: #4693ea;
  border: 1px solid #1a78e3;
  -webkit-transition: background-color, .25s;
          transition: background-color, .25s; }
  .btn--primary:hover, .btn--primary:active, .btn--primary:focus {
    background-color: #2f86e7;
    -webkit-transition: background-color, .25s;
            transition: background-color, .25s; }
  .btn--primary .text-muted {
    color: #D5D5D5;
    color: rgba(255, 255, 255, 0.5); }

.btn--secondary {
  background-color: #f2f2f2;
  border: 1px solid #DFDFDF;
  border: 1px solid #dfdfdf;
  color: #333333;
  -webkit-transition: background-color, .25s;
          transition: background-color, .25s;
  text-shadow: none; }
  .btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus {
    background-color: #e6e6e6;
    -webkit-transition: background-color, .5s;
            transition: background-color, .5s;
    color: #333333; }

.btn--call-to-action {
  padding-right: 4.5em;
  display: inline-block;
  background-color: #4693ea;
  -webkit-transition: background .5s;
          transition: background .5s;
  border: 1px solid #3b8ce9;
  color: white;
  position: relative;
  box-sizing: border-box; }
  .btn--call-to-action:hover, .btn--call-to-action:active, .btn--call-to-action:focus {
    background-color: #2f86e7;
    -webkit-transition: background .5s;
            transition: background .5s;
    color: white;
    text-decoration: none; }
  .btn--call-to-action:after {
    font-family: "fontello";
    content: '\e82e';
    background-color: #1a78e3;
    top: 0;
    padding: 0 1em;
    margin-left: 1.5em;
    position: absolute;
    right: 0;
    width: 1em;
    line-height: 3;
    text-align: center; }

/* 
* Override name: Collapse
* Note: N/A
-------------------------------------------------------------- */
.collapse__header {
  position: relative; }
  @media (max-width: 989px) {
    .collapse__header {
      padding-right: 1.25em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; } }

@media (max-width: 767px) {
  .collapse__header--active {
    background: none; }
    .collapse__header--active:hover, .collapse__header--active:active, .collapse__header--active:focus {
      background: none; }
    .collapse__header--active:after {
      font-family: "fontello";
      content: '\e835';
      top: 0;
      margin-left: .5em;
      position: absolute;
      right: 0;
      width: 1em;
      text-align: center; } }

@media (max-width: 767px) {
  .collapse__header--inactive {
    background: none; }
    .collapse__header--inactive:hover, .collapse__header--inactive:active, .collapse__header--inactive:focus {
      background: none; }
    .collapse__header--inactive:after {
      font-family: "fontello";
      content: '\e832';
      top: 0;
      margin-left: .5em;
      position: absolute;
      right: 0;
      width: 1em;
      text-align: center; } }

/* 
* Override name: Pull quote
* Note: N/A
-------------------------------------------------------------- */
/* legacy Indigo pullquote styles */
.pull-quote {
  margin-top: 0;
  margin-bottom: 2em; }

.pull-quote__wrap {
  line-height: 1.5em;
  font-size: 20px;
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic; }

.pull-quote__meta {
  border-top: 1px dotted;
  padding-top: 1em;
  border-color: rgba(0, 0, 0, 0.2);
  float: left;
  margin-top: 1em;
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem; }

@media only screen and (max-width: 767px) {
  .pull-quote--left, .pull-quote--right {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; } }

.pull-quote--left {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.0303%; }

.pull-quote--right {
  display: block;
  float: left;
  margin-left: 51.4596%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.0303%; }

.pull-quote__start, .pull-quote__end {
  color: #c2c2ba;
  font-size: 400%;
  font-style: normal;
  line-height: 0;
  top: 37.5px;
  position: relative; }
  @media (max-width: 767px) {
    .pull-quote__start, .pull-quote__end {
      font-size: 350%;
      top: 25px; } }

.pull-quote__start {
  padding-right: 10px; }
  @media (max-width: 767px) {
    .pull-quote__start {
      padding-right: 5px; } }

.pull-quote__end {
  padding-left: 10px; }
  @media (max-width: 767px) {
    .pull-quote__end {
      padding-left: 5px; } }

/* end legacy pull quote */
/* overwrite for legacy Indigo styles */
aside.pull-quote, blockquote.pull-quote {
  padding: 0; }
  aside.pull-quote cite.pull-quote__meta, blockquote.pull-quote cite.pull-quote__meta {
    color: #000000; }
  aside.pull-quote .pull-quote__end, aside.pull-quote .pull-quote__start, blockquote.pull-quote .pull-quote__end, blockquote.pull-quote .pull-quote__start {
    display: inline; }

/*end overwrite for legacy Indigo styles */
@media (min-width: 990px) and (max-width: 1069px) {
  .pull-quote__wrap {
    font-size: 18px;
    font-size: 1.8rem; } }
@media (max-width: 767px) {
  .pull-quote__wrap {
    font-size: 16px;
    font-size: 1.6rem; } }

/* 
* Override name: Pagination
* Note: N/A
-------------------------------------------------------------- */
.pagination--alphabet {
  text-align: justify;
  margin-bottom: -1em;
  padding-bottom: 2px; }
  @media (max-width: 989px) {
    .pagination--alphabet {
      text-align: center;
      margin-bottom: -.5em;
      padding-bottom: 1px; } }
  .pagination--alphabet .pagination__item {
    text-align: center;
    border: 1px solid #dfdfdf;
    margin-left: 0;
    margin-right: 1em;
    padding: 0; }
    @media (max-width: 989px) {
      .pagination--alphabet .pagination__item {
        margin-right: .5em;
        margin-bottom: .5em; } }
    .pagination--alphabet .pagination__item:last-child {
      margin-right: 0; }
  .pagination--alphabet .pagination__link {
    line-height: 2.5;
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    width: 2.5em;
    width: 2em; }
    .lt-ie9 .pagination--alphabet .pagination__link {
      display: inline;
      padding-left: 1em;
      padding-right: 1em; }

.pagination__item--disabled {
  cursor: not-allowed; }

/* 
* Override name: Tag
* Note: N/A
-------------------------------------------------------------- */
.tag--primary {
  background-color: #ff5a5f; }

.tag--secondary {
  background-color: #007a87; }

/* 
* Override name: Blurb
* Note: N/A
-------------------------------------------------------------- */
.blurb__img, .blurb__video {
  vertical-align: top;
  margin-bottom: 0; }

.blurb__body {
  background-color: #f7f7f4;
  padding: 1.5em; }

/* 
* Override name: Menu Block
* Note: N/A
-------------------------------------------------------------- */
.menu-block-container {
  margin-bottom: 1.5em; }

.menu-block-container--home {
  display: block; }
  @media (min-width: 990px) {
    .menu-block-container--home {
      display: none; } }

@media (max-width: 989px) {
  .menu-block-container__inner {
    display: block;
    background: white;
    border: 1px solid #dadacb;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .menu-block-container__inner > *:last-child, .menu-block-container__inner > *:last-child > *:last-child, .menu-block-container__inner > *:last-child > *:last-child > *:last-child {
      margin-bottom: 0; }
    .menu-block-container__inner .menu-block {
      margin: 1em; } }

.menu-block {
  border-color: rgba(0, 122, 135, 0.2); }

.menu-block--small {
  margin-bottom: 1em; }
  .menu-block--small .menu-block__highlight {
    font-size: 18px;
    font-size: 1.8rem; }
    @media (max-width: 619px) {
      .menu-block--small .menu-block__highlight {
        font-size: 15px;
        font-size: 1.5rem; } }

.menu-block--active {
  border-color: rgba(0, 122, 135, 0.4);
  border-width: 2px; }

@media (max-width: 989px) {
  .menu-block__list {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s; } }

.menu-block__list--expandable {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }

.menu-block__item {
  background-color: white; }
  .menu-block__item .menu-block__link:hover, .menu-block__item .menu-block__link:active, .menu-block__item .menu-block__link:focus {
    background-color: rgba(0, 122, 135, 0.075); }

.menu-block__link {
  padding-left: 18px;
  padding-left: 1.8rem;
  padding-right: 18px;
  padding-right: 1.8rem; }
  .menu-block__link:active {
    text-decoration: none; }
  .is-active .menu-block__link {
    border-left: 0; }

.menu-block__link--active {
  font-weight: bold; }

.menu-block__highlight {
  background-color: #D8EAEC;
  background-color: rgba(0, 122, 135, 0.15);
  color: #007a87;
  margin-bottom: 0;
  padding-left: 18px;
  padding-left: 1.8rem;
  padding-right: 18px;
  padding-right: 1.8rem;
  font-size: 22px;
  font-size: 2.2rem; }
  @media (min-width: 990px) {
    .menu-block__highlight {
      line-height: 2.75; } }
  @media (max-width: 989px) {
    .menu-block__highlight {
      font-size: 16px;
      font-size: 1.6rem; } }
  .menu-block__highlight .menu-block__link {
    color: #007a87;
    padding: 0; }
    .menu-block__highlight .menu-block__link:hover, .menu-block__highlight .menu-block__link:active, .menu-block__highlight .menu-block__link:focus {
      color: #007a87;
      background-color: transparent;
      text-decoration: none; }

.menu-block__child {
  margin: 0; }
  .menu-block__child .menu-block__item {
    border-bottom: 0; }
  .menu-block__child .menu-block__link {
    padding-left: 2.5em;
    padding-right: 2em; }

.menu-block__expander {
  display: block;
  font-weight: 500;
  position: relative;
  background: white;
  border: 1px solid #dadacb;
  margin-bottom: -2px;
  color: #007a87;
  padding-top: 12px;
  padding-top: 1.2rem;
  padding-bottom: 12px;
  padding-bottom: 1.2rem;
  padding-left: 18px;
  padding-left: 1.8rem;
  padding-right: 18px;
  padding-right: 1.8rem;
  font-size: 15px;
  font-size: 1.5rem; }
  .menu-block__expander:hover, .menu-block__expander:active, .menu-block__expander:focus {
    color: #007a87; }
  @media (min-width: 990px) {
    .menu-block__expander {
      display: none; } }

/* 
* Override name: Silva
* Note: Extend classes to apply to classes inserted by the Silva CMS
-------------------------------------------------------------- */
h3.heading, h2.collapse_header {
  font-size: 2.6rem;
  font-weight: 500;
  border-bottom: 1px solid #DDD; }

h4.heading {
  font-weight: 500; }

.lead {
  font-weight: 400;
  font-size: 2rem; }

table.table-responsive tr.even td {
  background: transparent; }

table.table-responsive {
  border-width: 0px; }

table.table-responsive > thead > tr > th:last-child,
table.table-responsive > tbody > tr > td:last-child {
  border-bottom: 1px solid #e6e6e6; }

table.table-responsive > thead > tr > th > h5 {
  font-weight: 500;
  text-transform: none;
  font-size: 100%; }

table.eventslist h4.heading {
  font-size: 110%; }

table.eventslist td p {
  margin: 0.1em 0; }

footer article.block ul.nobullet li {
  padding-bottom: 4px;
  padding-top: 4px;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  font-size: 1.4rem; }

/* Image options
-------------------------------------------------------------- */
img.float-left, figure.float-left, .img-sm.float-left, .img-md.float-left, .img-lg.float-left, .img-xl.float-left, .img-xxl.float-left, .no-respond.float-left {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.0303%;
  margin-bottom: 1em;
  margin-top: 1em; }

img.float-right, figure.float-right, .img-sm.float-right, .img-md.float-right, .img-lg.float-right, .img-xl.float-right, .img-xxl.float-right, .no-respond.float-right {
  display: block;
  float: left;
  margin-left: 51.4596%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.0303%;
  margin-bottom: 1em;
  margin-top: 1em; }

/* fixing the float issue
-----------------------------*/
.img-rounded {
  border-radius: 50em; }

.img-sm {
  max-width: 200px; }

.img-md {
  max-width: 400px; }

.img-lg {
  max-width: 767px; }

.img-xl {
  max-width: 989px; }

.img-xxl {
  max-width: 1400px; }

.img-sm, .img-md, .img-lg, .img-xl, .img-xxl {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .img-lg, .img-xl, .img-xxl {
    width: 100%; }

  .decorative {
    display: none !important; }

  .img-pull-left.large-image, .img-pull-left.xl-image, .img-pull-left.xxl-image, .img-pull-right.large-image, .img-pull-right.xl-image, .img-pull-right.xxl-image {
    width: 100%; } }
/* lets extend all of the indigo release 2 stuff for our lovely SILVA CMS
--------------------------------------------------------------------------*/
.small-image {
  max-width: 200px; }

.medium-image {
  max-width: 400px; }

.large-image {
  max-width: 767px; }

.xl-image {
  max-width: 989px; }

.xxl-image {
  max-width: 1400px; }

.img-pull-left, .float-left {
  float: left; }

.img-pull-right, .float-right {
  float: right; }

.small-image, .medium-image, .large-image, .xl-image, .xxl-image {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .large-image, .xl-image, .xxl-image {
    width: 100%; }

  .float-left.large-image, .float-left.xl-image, .float-left.xxl-image, .float-right.large-image, .float-right.xl-image, .float-right.xxl-image {
    width: 100%;
    clear: both; } }
.no-respond {
  width: auto !important; }

/* //cover all bases
.float-left.img-sm,.img-md,.img-lg,.img-xl,.img-xxl{
	@extend .img-pull-left;
}
.float-right.img-sm,.img-md,.img-lg,.img-xl,.img-xxl{
	@extend .img-pull-right;
} */
/* //cover all bases
.float-left.no-respond{
	@extend .img-pull-left;
}
.float-right.no-respond{
	@extend .img-pull-right;
} */
#key-information div dl > dd {
  padding-left: 0; }

/* Utilities
-------------------------------------------------------------- */
/* 
* Utility name: Helpers
* Use: Commonly used dlasses (and silent classes) that can be used within CSS or within HTML
* Note: See http://csswizardry.com/2014/01/extending-silent-classes-in-sass/
-------------------------------------------------------------- */
/* Hide
-------------------------------------------------------------- */
.hidden {
  display: none !important;
  visibility: hidden; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Clear
-------------------------------------------------------------- */
.clear {
  clear: both; }

/* Clearfix 
-------------------------------------------------------------- */
.island, .degree-list__group, .clearfix {
  zoom: 1; }
  .island:before, .degree-list__group:before, .island:after, .degree-list__group:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .island:after, .degree-list__group:after, .clearfix:after {
    clear: both; }

/* Floats
-------------------------------------------------------------- */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Add margin
-------------------------------------------------------------- */
.push-left {
  margin-left: 1.5em; }

.push-right {
  margin-right: 1.5em; }

.push-bottom {
  margin-bottom: 1.5em; }

.push-top {
  margin-top: 1.5em; }

/* Remove margin/padding
-------------------------------------------------------------- */
.zero {
  margin: 0 !important; }

.zero-top {
  margin-top: 0 !important; }

.zero-bottom {
  margin-bottom: 0 !important; }

.zero-left {
  margin-left: 0 !important; }

.zero-right {
  margin-right: 0 !important; }

.zero-pad {
  padding: 0 !important; }

.zero-pad-top {
  padding-top: 0 !important; }

.zero-pad-bottom {
  padding-bottom: 0 !important; }

.zero-pad-left {
  padding-left: 0 !important; }

.zero-pad-right {
  padding-right: 0 !important; }

/* Alignment
-------------------------------------------------------------- */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

/* Transforms
-------------------------------------------------------------- */
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-emphasise {
  font-style: italic; }

/* Responsiveness
-------------------------------------------------------------- */
.no-respond {
  width: auto; }

@media (min-width: 480px) {
  .visible-xs {
    display: none; } }

@media (min-width: 620px) {
  .visible-sm {
    display: none; } }

@media (min-width: 768px) {
  .visible-md {
    display: none; } }

@media (min-width: 990px) {
  .visible-lg {
    display: none; } }

@media (min-width: 1070px) {
  .visible-xl {
    display: none; } }

@media (min-width: 1180px) {
  .visible-xxl {
    display: none; } }

@media (max-width: 479px) {
  .hidden-xs {
    display: none !important; } }
@media (max-width: 619px) {
  .hidden-sm {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-md {
    display: none !important; } }
@media (max-width: 989px) {
  .hidden-lg {
    display: none !important; } }
@media (max-width: 1069px) {
  .hidden-xl {
    display: none !important; } }
@media (max-width: 1179px) {
  .hidden-xxl {
    display: none !important; } }
/* IE
-------------------------------------------------------------- */
.lt-ie9 .visible-ie {
  display: block; }

.lt-ie9 .hidden-ie {
  display: none; }

/* 
* Utility name: States
* Use: Classes to be used only in JS 
* Note: It is a best practise to try to seperate classes used in JS and classes that style elements
-------------------------------------------------------------- */
.is-active {
  display: block; }

.is-open {
  max-height: 60em;
  overflow: visible;
  opacity: 1;
  -webkit-transition: all .5s;
          transition: all .5s; }

.is-open--large {
  max-height: 120em; }

.is-collapsed {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
          transition: all .5s; }

.is-hidden {
  display: none; }

.is-disabled {
  opacity: .8;
  text-decoration: line-through;
  cursor: not-allowed; }

.is-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }