<article class="article">
    <% if user_signed_in? %>
      <div ng-repeat="list in lists">
        <nav class="menu-block-container">
          <ul class="menu-block">
            <li class="menu-block__item">
              <h2 class="menu-block__highlight as-h3 hidden-lg">
                <a href="#" title="Delete list">
                  <i class="fa fa-times" ng-click="delete_list($index, list.id)"></i>
                </a>
                <span title="Created at">{{list.created_at | date: 'medium'}}</span>
              </h2>
              <h2 class="menu-block__highlight as-h4">
                <a class="menu-block__link visible-lg menu-trigger">
                  <i class="fa fa-times"></i>
                  {{list.created_at}}
                  <i class="icon icon--after icon--angle-double-down"></i>
                </a>
              </h2>
              <ul class="menu-block__list">
                <div ng-repeat='item in list.list_items'>
                  <li class="menu-block__item">
                    <a class="menu-block__link">
                      <i class="fa fa-magic" title="Complete task" ng-click="delete_item($parent.$index, $index, list.id, item.id)"></i><input type="text" id="text" value='{{item.content}}' ng-keyup="update_item(list.id, item.id, $event)">
                    </a>
                  </li>
                </div>

                <li class="menu-block__item">
                  <a class="menu-block__link" href="#" ng-click="add_item($index, list.id)">
                    <i class="fa fa-plus"></i> Add new item
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div ng-show="!lists.length">
        <p>Create <a ng-click="add_list()">a new list</a></p>
      </div>
    <% else %>
      <p>Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %></p>
    <% end %>
</article>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript">
  var app = angular.module('appTodo', []);


  app.controller('userTodo', function($scope, $http){

    $scope.value = "";

    $http.get("/api/v1/lists").success(function (response) {
      console.log(response);
      $scope.lists = response;
    });

    $scope.delete_list = function (idx, id){
      $http.delete("/api/v1/lists/" + id).success(function (response) {
        console.log(response);
        var item_to_delete = $scope.lists[idx];
        $scope.lists.splice(idx, 1);
      });
    };

    $scope.delete_item = function (parentid, id, list_id, item_id) {
      $http.delete("/api/v1/lists/" + list_id + "/items/" + item_id).success(function (response) {
        var item_to_delete = $scope.lists[parentid]['list_items'][id];
        $scope.lists[parentid]['list_items'].splice(id, 1);
      });
    };

    $scope.add_list = function (){
      $http.post("/api/v1/lists").success(function (response) {
        $scope.lists.unshift({id: response.id, user_id: response.user_id, created_at: response.created_at, updated_at: response.updated_at, list_items: []});
      });
    };

    $scope.add_item = function (parentid, listid){
      
      $http.post("/api/v1/lists/" + listid + "/items", "").success(function (response) {
        $scope.lists[parentid]['list_items'].push({id: response.id, list_id: response.list_id, content: response.content, completed: response.completed, created_at: response.created_at, updated_at: response.updated_at});
      });
      
    };

    $scope.update_item = function (listid, itemid, $event){
      $http.patch("/api/v1/lists/" + listid + "/items/" + itemid,
        {content: $event.target.value}
      ).success(function(response) {
      });
    }
  });
</script>