
<h1>Test Page</h1>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<div ng-app="appTodo" ng-controller="userTodo">
	<div ng-repeat="list in lists">
        <nav class="menu-block-container">
            <ul class="menu-block">
                <li class="menu-block__item">
                    <h2 class="menu-block__highlight as-h3 hidden-lg"><i class="fa fa-times"></i>{{list.created_at}}</h2>
                    <h2 class="menu-block__highlight as-h4"><a class="menu-block__link visible-lg menu-trigger"><i class="fa fa-times"></i>{{list.created_at}}
                                <i class="icon icon--after icon--angle-double-down"></i></a></h2>
                    <ul class="menu-block__list">
                    	<div ng-repeat='item in list.list_items'>
	                        <li class="menu-block__item">
	                            <a class="menu-block__link"><i class="fa fa-square-o" style="margin-right: 5px;"></i><input type="text" id="text" value='{{item.content}}' style="border:0;background-color:rgba(0, 0, 0, 0);width: 90%;"><span style="float: right;" ng-click="delete($index)">x</span></a>
	                        </li>
                        </div>

                        <li class="menu-block__item">
                            <a class="menu-block__link"><i class="fa fa-square-o" style="margin-right: 5px;"></i><input type="text" id="text" value="Start typing..." style="border:0;background-color:rgba(0, 0, 0, 0);width: 90%;" ng-click="addItem()"></a>
                        </li>
                            
                	</ul>            
                </li>
            </ul>
        </nav>
    </div>
</div>



<script type="text/javascript">
	console.log("HI");
	var app = angular.module('appTodo', []);

	app.controller('userTodo', function($scope, $http){
		$http.get("/api/v1/lists").success(function (response) {
			console.log(response);
			$scope.lists = response;
		});
	});
</script>

<!--<div ng-app="appTodo" ng-controller="userTodo">
	<div>
		<table ng-repeat="list in lists">
			<tr ng-repeat="items in list.list_items">
				<td>{{item.content}}</td>
				<td>{{list.created_at}}</td>
			</tr>
		</table>
	</div>
</div>-->



