<!doctype html>
<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]> <html lang="en" class="no-js"> <![endif]-->
<html ng-app="appTodo">

  <%= render "includes/head" %>

  <body ng-controller="userTodo" id="index"
  class="layout--three-fifths-two-fifths homepage" style="width: 500px;margin-left: auto; margin-right: auto;">

    <header class="header header--desktop">
      <a class="header__close" href="#"><img src="//cdn.ucl.ac.uk/indigo/images/close.png" alt="X" />Close</a>

      <div class="wrapper">
        <div class="photograph">
          <div class="brand">
            <p class="brand__heading">ToDú</p>
            <a href="/" class="brand__link">
              <span class="visually-hidden">Home</span>
            </a>
            <img src="//cdn.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/ucl-logo.svg" alt="UCL logo" id="logo" class="brand__logo">
          </div>
        </div>
        <!-- end .photograph -->
      </div> <!-- end .wrapper -->

    </header>

    <div class="site-content wrapper">
      <header class="header header--mobile">
        <a class="header header__open" href="#">
          <img src="//static.ucl.ac.uk/img/blank.gif" class="lazy" data-src="//static.ucl.ac.uk/skins/UCLProspectiveStudentsUGSkin/ug-theme/images/ucl-menu.svg" alt="Menu" />
        </a>
        <a class="header__link" href="/"></a>
      </header>

      <nav class="breadcrumb breadcrumb--nav">
        <ul class="breadcrumb__list">

          <% if user_signed_in? %>
          <li class="breadcrumb__item">
            <a ng-click="add_list()" href="#"><i class="fa fa-plus"></i> Add new list</a>
          </li>

          <li class="breadcrumb__item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
          <li class="breadcrumb__item"><%= current_user.email %></li>
          <% else %>
            <li class="breadcrumb__item"><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="breadcrumb__item"><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    
        <div class="back-to-top back-to-top--static"
             aria-hidden="true"><a data-scroll href="#top" class="back-to-top__link"><i class="icon icon--up"></i></a></div>

            <div class="site-content__inner clearfix">
            
                
                    <div class="clearfix">        
                
                    <div class="col--1-2-lg-layout" style="width: 100%;">
                      <p class="notice"><%= notice %></p>
                      <p class="alert"><%= alert %></p>
                      <%= yield %>
                    </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>